* {
    margin: 0px;
    padding: 0px;
}

a:hover {
    color:white;
}

/* *************************************************************************
 INDEX.PHP
\* *************************************************************************/
 
.index {
    min-height: 100vh;
    background: no-repeat center center fixed;
    background-size: cover;
    background-image: url(../images/Background/F!Byleth_Background.png);
}

.title {
    display: flex;
    flex-direction: row-reverse;
}

.text_info {
    width: 275px; 
    height: 50px;
    position: absolute;
    padding: 25px 45px;
    bottom: 10%;
    color: rgb(164, 184, 164);
    margin-left: 120px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../images/Background/background_texte.png);
    background-size: 100%;
}

.formSeparator {
    padding-bottom: 12px;
}

.formLabel {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: rgb(154, 184, 154);
}

.formContainer {
    position: absolute;
    top: 50%;
    left: 85%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button { /* Tous les buttons*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: rgb(42, 61, 43);
    color: rgb(183, 184, 183);
    padding: 2px 4px;
    border: none;
}

/* *************************************************************************
 LOBBY.PHP
\* *************************************************************************/

.lobby {
    /* min-width: 100vh; */
    min-height: 100vh;
    background: no-repeat center center fixed;
    background-size: cover;
    background-image: url(../images/Background/Sothis_Background.jpg);
}

.menu {
    width: fit-content;
    position: fixed;
    top:10%;
    right:20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-banner {
    width: 225px;
    height: 40px;
    align-self: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/Background/Button_UI.png);
}

.button-text {
    font-size: 4vh;
    text-decoration: none;
    color: rgb(30, 111, 30);
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    /* background-color: black; */
}

.space {
    width: 225px;
    height: 40px;
}

.clavardage {
    width: fit-content;
    position: fixed;
    bottom:0;
    right:0;
    background-color: black;
}

/* *************************************************************************
 Board .PHP
\* *************************************************************************/

.board {
    min-height: 100vh;
    font-weight: bold;
    /*display: flex;
    flex-direction: column;*/
    background: no-repeat center fixed;
    background-size: cover;
    background-image: url(../images/Background/Board_Background1.png);
}
#chat {
    background-color: rgba(0, 0, 0, 0.5);
}

/* *************************************************************************
 Ennemi //Board.php
\* *************************************************************************/

.ennemis {
    min-width: 100%;
    min-height: 38vh;
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.ennemis_UI {
    min-width:100%;
    min-height: 7vh;
    display:flex;
    /*flex-direction: row;*/
    background: bottom;
    background-size: 100%;
    background-image: url(../images/Background/Ennemis_background.png);
}

.ennemis_Portrait {
    min-width: 25%;
    background: top;
    background-size: 100%;
    background-image: url(../images/HeroClass/Priest.png);
}

.ennemis_Hand {
    min-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ennemis_card {
    min-width: 70px;
    min-height: 30px;
    background: no-repeat center;
    background-size: 70%;
    background-image: url(../images/UI/Deck.png);
    
}

.ennemis_Health {
    min-width:8.33%;
    padding: 27px 0px;
    background: no-repeat center;
    background-size: 60%;
    background-image: url(../images/UI/Health.png);
}

.ennemis_Mana {
    min-width: 8.33%;
    padding: 27px 0px;
    background: no-repeat center;
    background-size: 65%;
    background-image: url(../images/UI/FEH_Orb.png);
}

.ennemis_Deck {
    min-width: 8.33%;
    padding: 27px 0px;
    background: no-repeat center;
    background-size: 70%;
    background-image: url(../images/UI/Deck.png);
}

/* *************************************************************************
 Ennemi Board //Board.php
\* *************************************************************************/

.ennemis_Board {
    min-width: 100%;
    min-height: 25vh;
    display: flex;
    flex-direction: row;
}

.info_log {
    min-width: 20vh;
    min-height:25vh;
    font-size: 2vh;
    background-color:rgba(30, 75, 30, 0.439);
}

.description {
    max-width:20vh;
    min-height:17vh;
    background-color: rgba(0, 0, 0, 0.42);
}

.description_portrait {
    background: no-repeat center;
    background-size:100%;
    min-width:20vh;
    min-height:10vh;
    /*background-color: rgb(75,30,30);*/
}

.description_mechanique {
    text-align: center;
    font-size: 2vh;
    min-width:20vh;
    min-height:10vh;
    /*background-color: rgb(30,75,30);*/
}

.description_nom {
    text-align: center;
    font-size: 3vh;
    min-width:20vh;
    min-height:4vh;
    /*background-color: rgb(30,30,75);*/
}

.ennemis_Cards {
    min-width: 85%;
    min-height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.timer {
    text-align: center;
    font-size: 5vh;
    min-width: 10%;
    min-height: 25%;
}

/* *************************************************************************
Player //Board.php
\* *************************************************************************/

.player {
    min-width: 100%;
    min-height: 61vh;
    display: flex;
    flex-wrap: wrap;
}

/* Player Board */

.player_Board {
    min-width: 100%;
    min-height: 28vh;
    display: flex;
    flex-direction: row;
}

.options_Board {
    display:flex;
    flex-direction: column;
}

.surrender {
    cursor: pointer;
    min-width: 10%;
    min-height: 15%;
    padding: 2.25vh;
    text-align: center;
    font-size: 2.5vh;
    text-align: center;
    background: no-repeat;
    background-size: 100%;
    background-image: url(../images/Background/button_vert.png);
}

.button_chat {
    cursor: pointer;
    min-width: 10%;
    min-height: 15%;
    padding: 2.25vh;
    text-align: center;
    font-size: 3vh;
    background: no-repeat;
    background-size: 100%;
    background-image: url(../images/Background/button_vert.png);
}

.log {
    cursor: pointer;
    min-width: 10%;
    min-height: 15%;
    padding: 2.25vh;
    text-align: center;
    font-size: 3vh;
    background: no-repeat;
    background-size: 100%;
    background-image: url(../images/Background/button_vert.png);
}

.player_Cards {
    min-width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info_Cards {
    min-width: 15%;
    opacity: 80%;
    background-color: rgba(00, 00, 00, 50);
}

/* Player Hand */

.player_UI {
    min-width: 100%;
    min-height: 25vh;
    display: flex;
    flex-direction: row;
    background: no-repeat;
    background-size: 120%;
    background-image: url(../images/Background/Player_Background.png);
}

.player_Portrait {
    min-width: 25%;
    max-height: 25vh;
    background: top no-repeat;
    background-size: 100%;
    background-image: url(../images/HeroClass/Priest.png);
}

.player_Hand {
    min-width: 55%;
    max-height: 25vh;
    /*min-height: ;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player_Info {
    min-width: 20%;
    max-height: 25vh;
    display: flex;
    flex-direction: column;
}

.player_Stats {
    min-width:80%;
    min-height: 50%;
    font-size: 5vh;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

.player_Health {
    min-width: 25%;
    min-height: 50%;
    padding-top: 25px;
    text-align: center;
    background: no-repeat center;
    background-size: 100%;
    background-image: url(../images/UI/Health.png);
}

.player_Mana {
    min-width: 25%;
    min-height: 50%;
    padding-top: 25px;
    text-align: center;
    background: no-repeat center;
    background-size: 100%;
    background-image: url(../images/UI/FEH_Orb.png);
}

.player_Deck {
    min-width: 25%;
    min-height: 50%;
    padding-top: 25px;
    text-align: center;
    background: no-repeat center;
    background-size: 100%;
    background-image: url(../images/UI/Deck.png);
}

.player_Options {
    min-width: 100%;
    min-height: 50%;
    display: flex;
}

.endTurn {
    min-width: 40%;
    min-height: 75%;
    padding: 2vh 1.25vh;
    font-size: 3vh;
    text-align: center;
    background: no-repeat;
    background-size: 98%;
    background-image: url(../images/Background/button_bleuF.png);
}

.player_HeroPower {
    min-width: 40%;
    min-height: 75%;
    padding: 2vh 1.25vh;
    font-size: 2.7vh;
    text-align: center;
    background: no-repeat;
    background-size: 100%;
    background-image: url(../images/Background/button_vert.png);
}

/* *************************************************************************
 Carte //Board.php
\* *************************************************************************/

.carte {
    margin-top: 2%;
    border: 3px solid black;
    text-align: left;
    background: no-repeat top center;
    /*background-color: burlywood;*/
    background-size:15vh;
    min-width: 13vh;
    margin-left: 2%;
    margin-right: 0.50%;
    font-size: 3vh;
}

.H {
    min-width: 13%;
    margin-left: 2%;
    margin-right: 0.50%;
}

.B {
    min-width: 13%;
    background-image: url(../images/Cartes/Byleth_Male_Attack.png);
}

.E {
    min-width: 10%;
    min-height: 150px;
    /*margin-left: 3%;*/
    margin-right: 0.5%;
    background-image: url(../images/Cartes/Wolt_Attack.png);
}

.carte_Stats {
    min-width: 100%;
    min-height: 10%; /* 5% */
    display: flex;
    flex-direction: row;
}

.Bstats{
    min-height: 20%;
}

.Estats{
    min-height: 20%;
}

.carte_Cost {
    min-width: 50%;
    min-height: 110%;
    margin-left: 1px;
    padding-left: 8px; /* 9px */
    text-align: left;
    font-size: 25px; /* 30px */
    background: no-repeat;
    background-size:50%; /* 40% */
    background-image: url(../images/UI/FEH_Orb.png);
}

.Bcost {
    padding-left:12px;
    padding-top: 2px;
    font-size: 30px;
    background-size: 45%;
}

.carte_Effect {
    min-width: 50%;
    min-height: 100%;
    background: no-repeat right;
    background-size:60%;
    /*background-image: url(../images/Effects/Taunt.png);*/
}

.Beffect {
    background-size: 50%;
}

.carte_Portrait {
    min-width: 100%;
    min-height: 35%; /* 30% */
    background: no-repeat center;
    background-size:100%;
    /*background-image: url(../images/Cartes/Alm.png);*/
}

.Bportrait {
    min-height: 27%;
}

.carte_Mecanique {
    min-width: 100%;
    width: 100px;
    min-height: 25%;
    font-size: 2vh;
    word-wrap: normal;
}

.carte_Stats1 {
    min-width: 100%;
    min-height: 25%;
    text-align: center;
    font-size: 30px; /* 35px */
    /* font: bolder; */
    /* color: white; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.Bstats1 {
    font-size: 35px;
}

.carte_Attaque {
    min-width: 40%;
    min-height: 100%;
    padding: 3px 0; /* 15px */
    text-align: center;
    background: no-repeat center;
    background-size:100%; /* 90% */
    background-image: url(../images/UI/Attack.png);
}

.Battaque {
    padding: 15px 0;
    background-size: 90%;
}

.carte_Vie {
    min-width: 40%;
    min-height: 100%;
    padding: 3px 0; /* 15px */
    text-align: center;
    background: no-repeat center;
    background-size:100%; /* 95% */
    background-image: url(../images/UI/Health.png);
}

.Bvie {
    padding: 15px 0;
    background-size: 95%;
}