* {
    margin: 0px;
    padding: 0px;
}

/* *************************************************************************
 INDEX.PHP
 **************************************************************************/
 
 .index {
    min-height: 100vh;
    background: no-repeat center center fixed;
    background-size: cover;
    background-image: url(../images/Background/F!Byleth_Background.png);
}

.title {
    display: flex;
    flex-direction: row-reverse;
}

.text_info {
    width: 275px; 
    height: 50px;
    position: absolute;
    padding: 25px 45px;
    top: 10%;
    color: rgb(164, 184, 164);
    margin-left: 100px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../images/Background/background_texte.png);
    background-size: 100%;
}

.formSeparator {
    padding-bottom: 12px;
}

.formLabel {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: rgb(154, 184, 154);
}

.formContainer {
    position: absolute;
    top: 50%;
    left: 85%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: rgb(42, 61, 43);
    color: rgb(183, 184, 183);
    padding: 2px 4px;
    border: none;
}